<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Manutenção de Funcionários - Detalhes</h4>
                    <div class="row mt-5">
                        <div class="col-md-12">
                            <h5 class="card-subtitle">Dados Pessoais do Funcionário</h5>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Nome*</label>
                                <input class="form-control" placeholder="Nome" [(ngModel)]="viewModel.name" type="text">
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Telefone Celular*</label>
                                <input [textMask]="{mask: maskPhoneOdd}" class="form-control" placeholder="Telefone celular" [(ngModel)]="viewModel.phone"
                                    type="text">
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Tipo de Usuário*</label>
                                <div class="form-group form-group--select">
                                    <div class="select">
                                        <select class="form-control" [(ngModel)]="viewModel.type">
                                            <option value="Operador">Operador</option>
                                            <option value="Motorista">Motorista</option>
                                            <option *ngIf="isAdministrator" value="Administrador">Administrador</option>
                                        </select>
                                    </div>
                                </div>
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" placeholder="Email" [(ngModel)]="viewModel.email" type="text">
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>CPF*</label>
                                <input [textMask]="{mask: maskCPF}" class="form-control" placeholder="CPF" [(ngModel)]="viewModel.socialNumber" type="text">
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Nº da CNH</label>
                                <input [textMask]="{mask: maskNumber}" class="form-control" placeholder="Nº da CNH" [(ngModel)]="viewModel.driverLicenseNumber"
                                    type="text">
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <h5 class="card-subtitle">Dados de Endereço do Funcionário</h5>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>CEP*</label>
                                <input [textMask]="{mask: maskCEP}" class="form-control" (blur)="checkCep()" placeholder="CEP" [(ngModel)]="viewModel.address.zipCode"
                                    type="text">
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Logradouro*</label>
                                <input class="form-control" placeholder="Logradouro" [(ngModel)]="viewModel.address.street" type="text">
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Nº*</label>
                                <input [textMask]="{mask: maskNumber}" class="form-control" placeholder="Nº" [(ngModel)]="viewModel.address.number" type="text">
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Complemento</label>
                                <input class="form-control" placeholder="Complemento" [(ngModel)]="viewModel.address.complement" type="text">
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Bairro*</label>
                                <input class="form-control" placeholder="Bairro" [(ngModel)]="viewModel.address.district" type="text">
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Cidadeº*</label>
                                <input class="form-control" placeholder="Cidade" [(ngModel)]="viewModel.address.city" type="text">
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Estado*</label>
                                <input class="form-control" placeholder="Estado" [(ngModel)]="viewModel.address.state" type="text">
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <button class="btn btn-primary" (click)="save()" type="button">
                                Salvar
                            </button>
                            <button class="btn btn-default" (click)="cancel()" type="button">
                                Cancelar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop : true }"></ngx-loading>
</section>