<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Manutenção de Funcionários - Detalhes</h4>
                    <div class="row mt-5">
                        <div class="col-md-12">
                            <h5 class="card-subtitle">Dados Pessoais do Funcionário</h5>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Nome*</label>
                                <input class="form-control" placeholder="Nome" type="text">
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Telefone Celular*</label>
                                <input class="form-control" placeholder="Telefone celular" type="text">
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" placeholder="Email" type="text">
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Nº da CNH</label>
                                <input class="form-control" placeholder="Nº da CNH" type="text">
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <h5 class="card-subtitle">Dados de Endereço do Funcionário</h5>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>CEP*</label>
                                <input class="form-control" placeholder="CEP" type="text">
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Logradouro*</label>
                                <input class="form-control" placeholder="Logradouro" type="text">
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Nº*</label>
                                <input class="form-control" placeholder="Nº" type="text">
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Complemento</label>
                                <input class="form-control" placeholder="Complemento" type="text">
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Bairro*</label>
                                <input class="form-control" placeholder="Bairro" type="text">
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Cidadeº*</label>
                                <input class="form-control" placeholder="Cidade" type="text">
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Estado*</label>
                                <input class="form-control" placeholder="Estado" type="text">
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <button class="btn btn-primary" type="button">
                                Salvar
                            </button>
                            <button class="btn btn-default" type="button">
                                Cancelar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>