<aside class="sidebar" [class.toggled]="sidebarVisible">
    <perfect-scrollbar>

        <div class="user" dropdown>
            <div class="user__info" dropdownToggle>
                <img class="user__img" src="./assets/ic-user.png" alt="">
                <div>
                    <div class="user__name">User Logged</div>
                    <div class="user__email">Email User Logged</div>
                </div>
            </div>

            <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="">Sair</a>
            </div>
        </div>

        <ul class="navigation">
            <li routerLinkActive="navigation__active"><a [routerLink]="['/home']"><i class="zmdi zmdi-home"></i> Home</a></li>
            <li routerLinkActive="navigation__sub--active" class="navigation__sub">
                <a (click)="toggleNavigationSub('Tables', $event)"><i class="zmdi zmdi-settings"></i> Administração</a>

                <ul [@toggleHeight]="navigationSubState.Tables">
                    <li routerLinkActive="navigation__active"><a [routerLink]="['/table/table']">Funcionários</a></li>
                </ul>
            </li>
            <li routerLinkActive="navigation__active"><a [routerLink]="['/routes']"><i class="zmdi zmdi zmdi-truck"></i> Rotas</a></li>
        </ul>
    </perfect-scrollbar>
</aside>