<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Manutenção de Funcionários</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary" [routerLink]="['detail/0']" type="button">
                                Novo Funcionário
                            </button>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>CPF</th>
                                        <th>Telefone</th>
                                        <th>Email</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of items">
                                        <th scope="row">{{item.name}}</th>
                                        <td>{{item.socialNumber}}</td>
                                        <td>{{item.phone}}</td>
                                        <td>{{item.email}}</td>
                                        <td>
                                            <button class="btn btn-primary btn-sm" (click)="detail(item._id)" type="button">
                                                Editar
                                            </button>
                                            <button class="btn btn-danger btn-sm" (click)="delete(item._id)" type="button">
                                                Excluir
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop : true }"></ngx-loading>
</section>
