<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Manutenção das Rotas</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary" [routerLink]="['detail/0']" type="button">
                                Nova Rota
                            </button>
                            <!-- <button class="btn btn-default" (click)="modalImport.show()" type="button">
                                Importar Rota (Arquivo Excel)
                            </button> -->
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>Data Programada</th>
                                        <th>Motorista Responsável</th>
                                        <th>Contato Motorista</th>
                                        <th class="d-none d-sm-block">Qtd. Pacotes</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="5" *ngIf="items.length == 0" style="text-align:center">
                                            <label>Nenhuma rota cadastrada</label>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let item of items | paginate: { itemsPerPage: 10, currentPage: p } ">
                                        <th scope="row">{{ item.dateSchedule | dateFormatPipe }}</th>
                                        <td>{{ item.employee[0].name }}</td>
                                        <td>{{ item.employee[0].phone }}</td>
                                        <td>{{ item.packages.length }}</td>
                                        <td>
                                            <button class="btn btn-primary btn-sm" (click)="view(item._id)" type="button">
                                                <i class="zmdi zmdi-eye"></i>
                                            </button>
                                            <button class="btn btn-danger btn-sm" (click)="delete(item._id)" type="button">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                            <button class="btn btn-default btn-sm" type="button">
                                                <i class="zmdi zmdi-print"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <pagination-controls (pageChange)="p = $event" directionLinks="true" autoHide="true" previousLabel="Anterior" nextLabel="Próxima"
                        screenReaderPaginationLabel="Paginação" screenReaderCurrentLabel="Página atual" class="overwrite-ul">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <div bsModal #modalImport="bs-modal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title pull-left">Importação de Rota - Arquivo Excel</h5>
                </div>
                <div class="modal-body" style="min-width: 650px;">
                    <div class="row">
                        <div class="col-md-12" style="margin-bottom: 40px">
                            Selecione o arquivo de importação<br>
                            <input type="file" ng2FileSelect [uploader]="uploader" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="margin-bottom: 40px">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Arquivo</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of uploader.queue">
                                        <td>
                                            <strong>{{ item?.file?.name }}</strong>
                                        </td>
                                        <td nowrap>
                                            <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                                <span class="glyphicon glyphicon-upload"></span> Salvar
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                                                <span class="glyphicon glyphicon-trash"></span> Cancelar
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="pull-left btn btn-link" (click)="downloadTemplateRota()">Download aquivo exemplo</button>
                        <button type="button" class="btn btn-default" (click)="modalImport.hide()">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop : true }"></ngx-loading>
</section>