<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Manutenção das Rotas</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary" [routerLink]="['detail/0']" type="button">
                                Nova Rota
                            </button>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>Data Programada</th>
                                        <th>Motorista Responsável</th>
                                        <th>Contato Motorista</th>
                                        <th class="d-none d-sm-block">Qtd. Pacotes</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="5" *ngIf="items.length == 0" style="text-align:center">
                                            <label>Nenhuma rota cadastrada</label>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let item of items | paginate: { itemsPerPage: 10, currentPage: p } ">
                                        <th scope="row">{{ item.dateSchedule | dateFormatPipe }}</th>
                                        <td>{{ item.employee[0].name }}</td>
                                        <td>{{ item.employee[0].phone }}</td>
                                        <td>{{ item.packages.length }}</td>
                                        <td>
                                            <button class="btn btn-primary btn-sm" (click)="view(item._id)" type="button">
                                                <i class="zmdi zmdi-eye"></i>
                                            </button>
                                            <button class="btn btn-danger btn-sm" (click)="delete(item._id)" type="button">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                            <button class="btn btn-default btn-sm" type="button">
                                                    <i class="zmdi zmdi-print"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <pagination-controls (pageChange)="p = $event" directionLinks="true" autoHide="true" previousLabel="Anterior" nextLabel="Próxima"
                        screenReaderPaginationLabel="Paginação" screenReaderCurrentLabel="Página atual" class="overwrite-ul">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop : true }"></ngx-loading>
</section>